In [5]:
import string
import requests
import json
import pandas as pd
from textblob import TextBlob
import nltk
from nltk.corpus import stopwords
from langdetect import detect
import mysql.connector
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /home/intn122@episourcein.episource.com/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/intn122@episourcein.episource.com/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
def clean_text(text):
    text = text.lower()
    text = ''.join([char for char in text if char not in string.punctuation])
    tokens = nltk.word_tokenize(text)
    tokens = [token for token in tokens if token not in stopwords.words('english')]
    return ' '.join(tokens)

def analyze_sentiment(text):
    return TextBlob(text).sentiment

def categorize_sentiment(polarity):
    if polarity > 0.1:
        return 'Positive'
    elif polarity < -0.1:
        return 'Negative'
    else:
        return 'Neutral'

def fetch_news(api_key, query, from_date, to_date):
    base_url = "https://newsapi.org/v2/everything"
    params = {
        "q": query,
        "from": from_date,
        "to": to_date,
        "sortBy": "publishedAt",
        "apiKey": api_key
    }
    response = requests.get(base_url, params=params)
    return response.json()

def save_to_json(filename, data):
    with open(filename, 'w') as file:
        json.dump(data, file)

def json_to_df(filename):
    with open(filename, 'r') as file:
        data = json.load(file)
    return pd.DataFrame(data['articles'])

def is_english(text):
    try:
        return detect(text) == 'en'
    except:
        return False

def insert_into_db(df,db_config):
    conn=mysql.connector.connect(**db_config)
    cursor=conn.cursor()
    insert_query="""
    INSERT INTO news_articles(id , tittle, content , sentiment , published_at)
    VALUES(%s , %s, %s, %s , %s)
    """
    for _, row in df.iterrows():
        values=(row['title'] , row['content'] , row['sentiment'] , row['publishedAt'])
        cursor.execute(insert_query, values)
        
    conn.commit()
    cursor.close()
    conn.close()

In [7]:
api_key = "0b2702ac89d64fdaac467ab4fc047639"  
query = "India OR Maldives"
from_date = "2024-01-01"
to_date = "2024-01-21"

news_data = fetch_news(api_key, query, from_date, to_date)
save_to_json('news_data.json', news_data)

df = json_to_df('news_data.json')
df = df[df['content'].apply(lambda x: is_english(x) if x else False)]
df['cleaned_content'] = df['content'].apply(lambda x: clean_text(x) if x else '')
df['sentiment_analysis'] = df['cleaned_content'].apply(lambda x: analyze_sentiment(x))
df['sentiment'] = df['sentiment_analysis'].apply(lambda x: categorize_sentiment(x.polarity))
df['publishedAt']=df['publishedAt'].apply(lambda x: x[:10])
df['publishedAt']=df['publishedAt'].astype('datetime64[ns]')
print(df)
db_config={
    'host': 'localhost',
    'user': 'root',
    'port':"3306",
    'database': 'news_data_db'
}
insert_into_db(df, db_config)

                                               source             author  \
0                     {'id': None, 'name': 'TheWrap'}    Stephanie Kaloi
1   {'id': 'the-times-of-india', 'name': 'The Time...   Yogesh Kabirdoss
2           {'id': None, 'name': 'InvestorsObserver'}  InvestorsObserver
3                 {'id': None, 'name': 'Technews.tw'}             中央廣播電台
4   {'id': 'the-times-of-india', 'name': 'The Time...       Sandip Dighe
..                                                ...                ...
92                   {'id': None, 'name': 'Livemint'}     Suneera Tandon
93  {'id': 'the-times-of-india', 'name': 'The Time...          ET Bureau
97  {'id': 'the-times-of-india', 'name': 'The Time...                PTI
98                  {'id': None, 'name': 'NDTV News'}               None
99                  {'id': None, 'name': 'Aajtak.in'}      अर्पिता आर्या

                                                title  \
0   Donald Trump Defends Thinly Veiled Racist Mock...
1   Singapore fund to invest $750 million in healt...
2   Allied Climate Partners Makes Inaugural Cataly...
3                          全球 2024 選舉年，AI 時代的政治面臨壓力測試
4   Army's lone blind officer gets PMO invite for ...
..                                                ...
92      Margin system rollout in right direction: HUL
93  BJP, RSS plan live telecast of Ram Mandir cons...
97  Prez Droupadi Murmu writes to PM, says Ram tem...
98  "Historic Moment" Of Ram Temple Event Will Tak...
99  ऐतिहासिक पल की दहलीज पर दुनिया, प्राण प्रतिष्ठ...

                                          description  \
0   He added, "It’s a little bit of a takeoff on h...
1   International Business News: Quadria Capital, ...
2   Allied Climate Partners Makes Inaugural Cataly...
3   法新社 19 日報導，代表世界半數人口的國家即將舉行大選，且新技術加劇假訊息傳播，2024 ...
4   According to JP Nautiyal, chairperson of the p...
..                                                ...
92  CEO Rohit Jawa defends revised margin structur...
93  The BJP and RSS are gearing up for the histori...
97  President Droupadi Murmu commends Prime Minist...
98  Prime Minister Narendra Modi on Sunday said th...
99  रामलला की मूर्ति की प्राण प्रतिष्ठा से पहले अय...

                                                  url  \
0   https://www.thewrap.com/donald-trump-defends-n...
1   https://timesofindia.indiatimes.com/business/i...
2   https://www.investorsobserver.com/news/qm-pr/7...
3   https://technews.tw/2024/01/22/the-2024-electi...
4   https://timesofindia.indiatimes.com/india/army...
..                                                ...
92  https://www.livemint.com/companies/news/margin...
93  https://economictimes.indiatimes.com/news/elec...
97  https://economictimes.indiatimes.com/news/indi...
98  https://www.ndtv.com/india-news/historic-momen...
99  https://www.aajtak.in/programmes/video/ayodhya...

                                           urlToImage publishedAt  \
0   https://www.thewrap.com/wp-content/uploads/202...  2024-01-21
1   https://static.toiimg.com/thumb/msid-107037944...  2024-01-21
2   https://s3.amazonaws.com/images.investorsobser...  2024-01-21
3   https://img.technews.tw/wp-content/uploads/201...  2024-01-21
4   https://static.toiimg.com/thumb/msid-107037908...  2024-01-21
..                                                ...         ...
92  https://www.livemint.com/lm-img/img/2024/01/21...  2024-01-21
93  https://img.etimg.com/thumb/msid-107035195,wid...  2024-01-21
97  https://img.etimg.com/thumb/msid-107035154,wid...  2024-01-21
98  https://c.ndtvimg.com/2024-01/82kpeg4_pm-modi_...  2024-01-21
99  https://akm-img-a-in.tosshub.com/aajtak/images...  2024-01-21

                                              content  \
0   Donald Trump has started to refer to his lone ...
1   FD Calculator\r\nWhen investing in a fixed dep...
2   NEW YORK\r\n,\r\nJan. 21, 2024\r\n/PRNewswire/...
3   19 2024 AI\r\n202460\r\nAI113\r\nApp TikTokFac...
4   10 aesthetic paintings to enhance the vibe of ...
..                                                ...
92  NEW DELJHI : Consumer goods company Hindustan ...
93  From organising live telecasts on giant screen...
97  The nationwide celebratory atmosphere around t...
98  President Murmu complimented PM Modi ahead of ...
99  Copyright © 2024 Living Media India Limited. F...

                                      cleaned_content  \
0   donald trump started refer lone remaining riva...
1   fd calculator investing fixed deposit amount d...
2   new york jan 21 2024 prnewswire allied climate...
3   19 2024 ai 202460 ai113 app tiktokfactchecktik...
4     10 aesthetic paintings enhance vibe living room
..                                                ...
92  new deljhi consumer goods company hindustan un...
93  organising live telecasts giant screens distri...
97  nationwide celebratory atmosphere around inaug...
98  president murmu complimented pm modi ahead pra...
99  copyright © 2024 living media india limited re...

                             sentiment_analysis sentiment
0                                    (0.0, 0.0)   Neutral
1                                    (0.1, 0.2)   Neutral
2     (0.24727272727272726, 0.5575757575757576)  Positive
3                                    (0.0, 0.0)   Neutral
4                                    (0.0, 0.0)   Neutral
..                                          ...       ...
92   (0.13636363636363635, 0.45454545454545453)  Positive
93                  (0.06818181818181818, 0.75)   Neutral
97     (0.3181818181818182, 0.7272727272727273)  Positive
98   (0.06818181818181818, 0.22727272727272727)   Neutral
99  (-0.07142857142857142, 0.14285714285714285)   Neutral

[86 rows x 11 columns]

ProgrammingError: Not enough parameters for the SQL statement